*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family:'Times New Roman', Times, serif;
}

.containner {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 80px;
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%    );
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilos del logo*/
.logo {
    margin-left: 100px;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}


/*estilos del la barra o menu*/
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.fila {
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between; /* Esto distribuirá los elementos a lo largo de la fila */
    align-items: center;
}

/*estilos del titulo  como por ejemplo productos, clientes y ventas*/
.title {
    margin: 0; /* Quita el margen predeterminado del título */
}

/*enlaces que estan al lado del titulo*/
.enlaces a {
    
    margin-left: 10px;
}

.enlaces span {
    margin: 0 5px; /* Ajusta el espacio a cada lado del signo "/" según sea necesario */
}


/*estilos de los demas filtros*/
.filter-row {
    margin-right: 110px;
    padding-left: 180px;
    padding-top: 10px;
    display: flex; /* Establece la visualización flexible para la fila de filtros */
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
}

.filter-group {
    flex: 1 0 30%; /* Establece la flexibilidad de los elementos de grupo de filtro */
    margin-bottom: 10px; /* Establece un margen inferior */
}

/* Estilos para los elementos de filtro */
.filter-group label {
    font-size: bold; /* Tamaño del texto */
}

.filter-group input[type="text"],
.filter-group select {
    width: 260px; /* Ancho del campo de entrada */
    padding: 7px; /* Relleno */
    border: 1px solid #a9a9a9; /* Grosor del borde */
    border-radius: 7px; /* Radio del borde */
}

.filter-group select {
    appearance: none; /* Elimina los estilos nativos del selector */
    background-color: #ffffff; /* Color de fondo */
}

/*filtro del rango de fechas*/
.filter-group .input-container {
    display: flex;
}

.filter-group .filter-input {
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 260px;
}


/*botones de los filtros*/
.botones-filtro {
    padding: 5px 10px; 
    text-align: right; /* Alinea los botones a la derecha */
    padding-right: 160px;
    margin-bottom: 10px;
}

.botones-filtro button {
    padding: 5px 10px;
    font-size: 14px;/*tamaño de la letra*/
    margin-right: 10px;
    background-color: #007bff; /* Color azul para el botón "Aplicar Filtro" */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botones-filtro button#limpiar-filtro {
    background-color: #686767; /* Color gris para el botón "Limpiar Filtro" */
}

.botones-filtro button:hover {
    background-color: #0056b3;
}

.botones-filtro button#limpiar-filtro:hover {
    background-color: #999; /* Cambia el color gris al hacer hover */
}



/*pagina principal*/
@media(max-width:991px){
    .content {
        min-height:  100px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgba(203,18,133,1)0%,
            rgba(80,49,145,1)70%    );
            display: none;
    }

    .menu navbar ul li {
        width: 100px;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

}


/* Estilo para la tabla */
.table {
    overflow-x: auto;
    padding-top: 10px;
    margin: 0 auto;
    width: 100px;
    border-collapse: collapse;
}

/* Estilo para las celdas del encabezado */
.table th {
    background-color: #e3e1e1;
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}

/* Estilo para las celdas del cuerpo */
.table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

/* Estilo para las filas pares */
.table tbody tr:nth-child(even) {
    background-color: #e3e1e1;
}

/* Estilo para las filas impares */
.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Estilo para las filas al pasar el cursor */
.table tbody tr:hover {
    background-color: #ffffff;
}

/* Estilo para los botones de acciones */
.table .acciones button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

/* Estilo para los botones de acciones al pasar el cursor */
.table .acciones button:hover {
    background-color: #0056b3;
}

/* Estilos para las acciones */
.accion {
    cursor: pointer;
    margin-right: 5px;
    font-size: 12px;
}

/*estilos para las acciones de la lista*/
.accion.editar {
    color: green; /* Color verde para editar */
}

.accion.eliminar {
    color: red; /* Color rojo para eliminar */
}

.accion.desactivar {
    color: blue; /* Color azul para desactivar */
}

/* Estilos para el botón "Ver Borrador" */
.ver-borrador-btn {
    padding: 5px 10px; /* Espaciado interno */
    font-size: 12px; /*tamaño de la letra*/
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambio de cursor al pasar */
}

.ver-borrador-btn:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/*Estilos del formulario*/
.formulario-container {
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formulario-columna {
    flex: 1;
    margin-right: 20px;
}

.formulario-columna:last-child {
    margin-right: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.button-registrar{
    text-align: center;
    position: relative;
    height: 100vh;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
